# (My Assignment, title)

# Welcome to my first Assignment here we will learn some of the Data science tool and model and laguages and so on.

# In the first here list of data science languages :
# Java / R / Python / SQL / juila / scala / ...

# And then we have data science libraries like:
# Numpy / panda / TensorFlow / Matplotlib /seaborn / ...

# Then we have some table of data science tools like:
# Apache Spark	/ Hadoop / Jupyter /...

# And now we will do some arithmetic exrssion examples:

In [15]:
x = 5
y = 3
Multi = x * y 
Add = x + y 
print( Multi , Add )

15 8

In [21]:
min=400
x = min//60
y = min%60
print("Hours:",x)
print("Minutes:",y)

Hours: 6
Minutes: 40

# list of objectives 
# introdatcion / language / labrarys / tools / examples

# Author's Name:
# Rayan